
            <section id="aboriginal" role="aboriginal" class="section" data-nav="少数民族部落体验">
                <aside class="viewport">
                    <h3>少数民族部落体验</h3>
                    <h4 class="text-center">台湾台东 ，是多元文化荟萃共存的土地。其中有三分之一以上的人口为少数民族，在全台少数民族族群中即占有六个族群，<br>
                            北至长滨乡与花莲相接，南自本县达仁乡与屏东相毗邻，宛如遗世独立的桃花源。在少数民族部落探访中，建议事先了解并尊重部落传统文化习俗，才能让旅程丰富又愉快。</h4>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item active">
                            <a class="nav-link" id="aboriginal1-tab" data-toggle="tab" href="#aboriginal1" role="tab" aria-controls="aboriginal1" aria-selected="true">阿美族</a>
                        </li><li class="nav-item">
                            <a class="nav-link" id="aboriginal2-tab" data-toggle="tab" href="#aboriginal2" role="tab" aria-controls="aboriginal2" aria-selected="false">布农族</a>
                        </li><li class="nav-item">
                            <a class="nav-link" id="aboriginal3-tab" data-toggle="tab" href="#aboriginal3" role="tab" aria-controls="aboriginal3" aria-selected="false">达悟族</a>
                        </li><li class="nav-item">
                            <a class="nav-link" id="aboriginal4-tab" data-toggle="tab" href="#aboriginal4" role="tab" aria-controls="aboriginal4" aria-selected="false">噶玛兰族</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane active" id="aboriginal1" role="tabpanel" aria-labelledby="aboriginal1-tab">
                            <aside class="row">
                                <aside class="col-xs-12 col-sm-6">
                                    <p>
                                        著名的丰年祭在每年七月中旬，由台东的阿美族揭开序幕，依次往北展开。阿美族天生拥有具感染力的歌舞天
                                        分，传统打击乐舞是部落的文化特色之一，像东海岸都历部落的「旭亘乐团」和比西里岸部落的「宝抱鼓」
                                        (PAW-PAW鼓)就经常受邀到国家音乐厅进行表演。来到阿美族部落，无论歌谣舞蹈、传统射箭、家屋、鞦韆、
                                        工艺等都是令人印象深刻的体验。
                                    </p>
                                    <h4>部落体验推荐</h4>
                                        
                                    <p>
                                        <b>都历部落</b><br>
                                        部落游程/导览解说 (有英文导览) :
                                    </p>
                                    <ul>
                                        <li>・部落导览→扎拉扎海海上体验→野菜采集→用餐→欢乐回家</li>
                                        <li>・风味餐 : 时令菜肴含鲜鱼、海藻、野菜</li>
                                        <li>・体验活动 : 阿美族传统月桃编织、棉花工艺</li>
                                    </ul>    
                                        <b>联络资讯</b>
                                    <ul>
                                        <li>・旅游达人（吴筱帆）</li>
                                        <li>・电话：0937-579624</li>
                                        <li>・电子邮件：siku.lang@msa.hinet.net<br>
                                        (体验活动以部落为主 , 详情请洽询电话)</li>
                                    </ul>    
                                </aside>
                                <aside class="col-xs-12 col-sm-6">
                                    <img src="img/aboriginal-1.png">
                                </aside>
                            </aside>
                        </div>
                        <div class="tab-pane fade" id="aboriginal2" role="tabpanel" aria-labelledby="aboriginal2-tab">
                            <aside class="row">
                                <aside class="col-xs-12 col-sm-6">
                                    <p>
                                        布农族是住在山林的民族。族人依循小米的成长历程，把时间和年月的观念串联起来，狩猎和耕作是遵循植物的生长及月亮的月缺来进行，如传统文物「木刻画历」所上记载著一年的生活时序，其中每年4～5月是布农族最重要的射耳祭。
                                        布农民族非常英勇、内敛，天生拥有强壮的体格，对于不太会说出口的情意，只能透过实际的行动或是歌唱表现出来，扬名国际的八部合音，就是为了让天神听见族人的感谢所唱出的古调：「祈祷小米丰收歌」”Pasibutbut”，音阶像楼梯盘旋而上，最后会出现五度以上的泛音共鸣，令人动容。</p>
                                    <h4>部落体验推荐</h4>
                                        
                                    <p>
                                        <b>都历部落</b>
                                        部落游程/导览解说 (有英文导览) :
                                    </p>
                                    <ul>
                                        <li>・鸾山派出所→拜访「会走路的树」→登上「帝王台」走过「天堂门」→踏上「森林博物馆」瞭望台→探访珍贵森林博物银行→布农族森林风味餐→认识布农族传统家屋→布农族民俗植物园→心连心-捣麻糬→快乐回程</li>
                                        <li>・风味餐 :鸾山风味餐包含原住民传统食材烹饪及烤肉等</li>
                                        <li>・体验活动 :捣麻糬</li>
                                    </ul>    
                                        <b>联络资讯</b>
                                        <li>・旅游达人 (阿力曼)</li>
                                        <li>・电话：0911-154806</li>
                                        <li>・电子邮件：sazasa2003@yahoo.com.tw<br>
                                        (体验活动以部落为主 , 详情请洽询电话)</li>
                                </aside>
                                <aside class="col-xs-12 col-sm-6">
                                    <img src="img/aboriginal-2.png">
                                </aside>
                            </aside>
                        </div>
                        <div class="tab-pane fade" id="aboriginal3" role="tabpanel" aria-labelledby="aboriginal3-tab">
                            <aside class="row">
                                <aside class="col-xs-12 col-sm-6">
                                    <p>
                                        居住在兰屿海岛上的达悟族人，因与他族几乎隔绝，故为保特固有文化最多之一族，具有传统信仰，亦为台湾
                                        唯一之鱼猎为主的少数民族族。被喻为「飞鱼的民族」，达悟族人最重要的祭典为「海祭」为主，海祭可分为
                                        「鱼祭」、「船祭」、「小米祭」，此时族人将以歌舞庆祝捕鱼的丰收感谢。
                                    </p><p>
                                        其日常的一切生活器具衣饰皆自给自足，除了鱼猎、水田植芋、山地旱植外，亦会放牧山羊，并且制陶、造板
                                        舟与制银等工艺十分精巧。其中，朗岛村雅美族穴居屋更是达悟族人传统的建筑形式，是不能不走访的少数民
                                        族聚落景点，成为兰屿旅游的一大特色。
                                    </p>
                                </aside>
                                <aside class="col-xs-12 col-sm-6">
                                    <img src="img/aboriginal-3.png">
                                </aside>
                            </aside>
                        </div>
                        <div class="tab-pane fade" id="aboriginal4" role="tabpanel" aria-labelledby="aboriginal4-tab">
                            <aside class="row">
                                <aside class="col-xs-12 col-sm-6">
                                    <p>噶玛兰族是现今台湾平埔族群当中族群意识强烈、文化特质最鲜明的。</p>
                                    <p>噶玛兰族人在日常生活作息中保存了噶玛兰文化，例如:噶玛兰语言、风俗（如新年祭祖palilin）、以metiyu(女祭司)为中心的祭仪、农鱼业相关的祭典（如入仓祭、海祭），编织(如香蕉丝织布）。</p>
                                    <p>台东主要以长滨乡为族人群聚的部落，噶玛兰人的原始生产方式为游耕（旱田农作）、焚猎、捕鱼、打鹿等自给自足式的采集经济。每年三、四月春夏之交会举办「海祭」，噶玛兰男人们会择定吉日，聚集海边举行LaLiGi海宴。早晨，族中长老在海边行过祭拜祖灵后，年轻男人便出海捕鱼。近午时，捕鱼的人回岸，年长者在岸上迎接他们。接着就地烹煮鲜鱼和野菜煮食，也会把捕来的鱼送回村裡，供其他未能参加的族人分享，活动持续两三天。
                                    </p>
                                </aside>
                                <aside class="col-xs-12 col-sm-6">
                                    <img src="img/aboriginal-4.png">
                                </aside>
                            </aside>
                        </div>
                    </div>
                    <p><br></p>
                    <p class="text-center f16">想了解更多？<br>
                        <a class="link vertical-middle">
                            <img src="img/taitung-logo-2.png">
                            <span>造访网站<br>DiscoverTaitung</span></a>
                    </p>
                </aside>
            </section>