            <aside class="cover"></aside>
            <section id="art" role="art" class="section" data-nav="艺文飨宴">
                <aside class="viewport">
                    <h3>艺文飨宴</h3>

                    <aside class="row">
                        <asdie class="col-xs-12 col-sm-6">
                            <img src="img/art.png">
                            
                        </asdie>
                        <asdie class="col-xs-12 col-sm-6">
                            <p>台湾台东拥有丰富的原民文化并保留了传统的文化风俗，将艺术深耕在生活里。
                                    台湾台东市区的国立史前文化博物馆、台东美术馆、宝钉文化中心、台东儿童故事馆，
                                    以及位于鹿野乡的瑞源社区花布灯龙生活文化馆、新元昌红叶产业文化馆，
                                    都能让旅人了解和体验当地民俗风情。</p>
                            <ul>
                                <li>・国立台湾史前文化博物馆</li>
                                <li>・台东美术馆</li>
                                <li>・宝钉文化中心</li>
                                <li>・台东儿童故事馆</li>
                                <li>・瑞源社区花布灯龙生活文化馆</li>
                                <li>・新元昌红叶产业文化馆</li>
                            </ul>
                        </asdie>
                    </aside>
                </aside>
            </section>