
            <section id="food" role="food" class="section" data-nav="台东美食">
                <aside class="viewport">
                    <h3>台东美食</h3>
                    <h4 class="text-center">开阔深邃、山环水绕的台东，犹如广纳百川大海，将多元族群汇聚起来，既保留住各族群独特的根，也同时发展出融合的人文风貌。<br>无论百年流传的部落风味餐、历经5~60年以上的在地老滋味、庶民小吃、新移民所带来的西式料理、或是充满创意的无菜单料理，自我们有记忆以来，「滋味」二字堆叠出一层层专属于「台东人」的生活记忆，令人留恋。</h4>
                    <aside class="row">
                        <label class="col-xs-12 col-sm-6 col-md-4" for="food1">
                            <input class="hide" type="radio" id="food1" name="foods">
                            <figure>
                                <img src="img/souvenir.png">
                                <aside>
                                    <h4>专属特色伴手礼</h4>
                                    <figcaption>台东美景令人难忘，相信来过台东游玩的人很同意，这里好山好水好风情，有种与别的地方不同的感觉。台东的伴手礼，结合本土文化习俗、地理特色、产地优势，让游客把祝福带回家、把健康吃出来。</figcaption>
                                    <i class="icon-down-open"></i>
                                </aside>
                            </figure>
                        </label>
                        <label class="col-xs-12 col-sm-6 col-md-4" for="food2">
                            <input class="hide" type="radio" id="food2" name="foods">
                            <figure>
                                <img src="img/street-food.png">
                                <aside>
                                    <h4>胡同特色私藏</h4>
                                    <figcaption>旅人们用自己喜欢的脚步，潜入胡同里头的各个角落，一尝流行四、五十年的经典小吃，在悠闲的午后与店主人们闲谈几句台东的风华历史，这样的体验方式不仅让客人们更认识台东，也让主人家们交了许多新朋友呢！</figcaption>
                                    <i class="icon-down-open"></i>
                                </aside>
                            </figure>
                        </label>
                        <label class="col-xs-12 col-sm-6 col-md-4" for="food3">
                            <input class="hide" type="radio" id="food3" name="foods">
                            <figure>
                                <img src="img/aboriginal-meal.png">
                                <aside>
                                    <h4>部落少数民族风味餐</h4>
                                    <figcaption>来到台东，当然也不能错过部落的风味佳肴，少数民族习惯的料理通常调味都较为简单，搭配山上或海边所生长的食材，才是真正最在地的台东味！除了少数民族风味餐厅外，有些料理是搭配着部落的深度游程而设计，在大自然环绕的气氛里享用令人垂涎的独特美食，更令人印象深刻。</figcaption>
                                    <i class="icon-down-open"></i>
                                </aside>
                            </figure>
                        </label>
                        <label class="col-xs-12 col-sm-6 col-md-4" for="food4">
                                <input class="hide" type="radio" id="food4" name="foods">
                            <figure>
                                <img src="img/seafood-in-eastern-coast.png">
                                <aside>
                                    <h4>靠近东海岸的在地海味</h4>
                                    <figcaption>高山、纵谷、平原与海岸为台东主要的地形组合，东海岸狭长富有变化，从长滨乡沿途经过成功、金樽，一路南至达仁乡，都以渔港为特色，一直是旅人到访台东不容错过的美景，也因着太平洋的孕育，渔产也特别丰饶。</figcaption>
                                    <i class="icon-down-open"></i>
                                </aside>
                            </figure>
                        </label>
                        <label class="col-xs-12 col-sm-6 col-md-4" for="food5">
                                <input class="hide" type="radio" id="food5" name="foods">
                            <figure>
                                <img src="img/non-menu-cuisine.png">
                                <aside>
                                    <h4>慢活慢食无菜单料理</h4>
                                    <figcaption>近年来，台东出现越来越多间无菜单料理，在未知的期待下，等待美味的佳肴端上桌所获得的惊喜，是无菜单料理的趣味；而偏爱提供无菜单料理的主人家，当钻进市场里寻觅食材时，脑子里忽然灵光一现，搭配出和谐又独具巧思料理的那一刻，应该就是最满足的时候吧。</figcaption>
                                    <i class="icon-down-open"></i>
                                </aside>
                            </figure>
                        </label>
                        <label class="col-xs-12 col-sm-6 col-md-4" for="food6">
                                <input class="hide" type="radio" id="food6" name="foods">
                            <figure>
                                <img src="img/linner.png">
                                <aside>
                                    <h4>悠闲的下午茶时光</h4>
                                    <figcaption>来到台东有清幽的山峦与湛蓝大海相伴，在舒适晴朗令人昏昏欲睡的午后，没有什么比捧着一杯温热的咖啡，配上几口香甜的蛋糕更让人心情愉悦了。或是品尝极度在地的台式下午茶，即使一个人发呆也不孤独，静静地享受这慵懒的时光，多惬意。</figcaption>
                                    <i class="icon-down-open"></i>
                                </aside>
                            </figure>
                        </label>
                        <label class="col-xs-12 col-sm-6 col-md-4" for="food7">
                                <input class="hide" type="radio" id="food7" name="foods">
                            <figure>
                                <img src="img/brunch.png">
                                <aside>
                                    <h4>曙光漫步早午餐</h4>
                                    <figcaption>早晨，循著和煦的日光，享用營養滿分的早點是一件幸福的事。所有喜歡慢生活的人們，總期待著屬於假日的悠閒早午餐，除了滿滿一盤的活力餐點外，最重要的是一股閒適的氣息。無論是正來到臺東渡假的旅人，或是生活中偷閒的片刻，都適合花上一會兒時間，慢慢地一口口暖暖胃，喚醒美好的一天。</figcaption>
                                    <i class="icon-down-open"></i>
                                </aside>
                            </figure>
                        </label>
                        <label class="col-xs-12 col-sm-6 col-md-4" for="food8">
                                <input class="hide" type="radio" id="food8" name="foods">
                            <figure>
                                <img src="img/exotic.png">
                                <aside>
                                    <h4>小镇异国风情</h4>
                                    <figcaption>台东本是一个多元族群融合的土地，今日的台东，不仅有传统的在地滋味，更多了各处新移民所带来的家乡味，从市街上，随处可见许多印尼料理餐馆、越南美食、云泰料理、滇缅美食等东南亚风味，或时下年轻人喜爱的美式料理都相当受到欢迎。</figcaption>
                                    <i class="icon-down-open"></i>
                                </aside>
                            </figure>
                        </label>
                        <label class="col-xs-12 col-sm-6 col-md-4" for="food9">
                                <input class="hide" type="radio" id="food9" name="foods">
                            <figure>
                                <img src="img/traditional-taste.png">
                                <aside>
                                    <h4>传统手作好味道</h4>
                                    <figcaption>台东藏有许多传统小吃的好味道，每家流传三代以上的小吃店，看似简单却都有自家长久来的独门秘诀，那充满韵味的朴实感，不仅是老一辈在地人珍贵的想念，更是所有旅人寻寻觅觅的新奇发现。</figcaption>
                                    <i class="icon-down-open"></i>
                                </aside>
                            </figure>
                        </label>
                    </aside>
                </aside>
            </section>