
            <section id="location" role="location" class="section" data-nav="景点">
                <aside class="viewport">
                    <h3>景点</h3>
                </aside>
                <aside class="slick">
                    <figure>
                        <img src="img/location-banner-1.png">
                        <aside class="left">
                            <h4>台东市区</h4>
                            <p>台东市区从中正路往南一路朝向海边，是台东真正发展的起始点，也是台东最早的发源地，货运、产业、市场、小吃都从这里发生，喜欢人文旅行的朋友不妨漫游在市区胡同之中，从老建筑、市场、在地小吃玩味一场知性之旅；而热爱自然景观的人，市区里隐藏一座绝美的台东森林公园，骑乘单车畅游在黑森林之中，还有美丽东海岸伴随身旁，令人难忘。</p>
                            <ul>
                                <li>・国立台湾史前文化博物馆</li>
                                <li>・台东森林公园</li>
                                <li>・台东市区人文风情</li>
                                <li>・铁花村音乐聚落</li>
                                <li>・台东旧铁道路廊</li>
                            </ul>
                        </aside>
                    </figure>
                    <figure>
                        <img src="img/location-banner-2.png">
                        <aside class="right">
                            <h4>纵谷台9线</h4>
                            <p>台9线为全台最长的公路，全长476公里，其中池上到台东市的这段花东纵谷公路（南段），建于狭长的纵谷平原上，全线可见山峦、田园景致，两山之间的美景又被称为「绿色公路」。<br>这条如茵似梦的道路，有着台湾鹿野热气球、池上伯朗大道、电光稻浪和会走路的树，玩法缤纷多彩，有贴近本地的行程，也有纯观光的行程，还有花东纵谷平原孕育出的农产品瑰宝。宜人的山风拂来，闭上眼，你就真的在天堂。</p>
                            <ul>
                                <li>・鹿野高台</li>
                                <li>・武陵绿色隧道</li>
                                <li>・电光部落</li>
                                <li>・池上伯朗大道</li>
                                <li>・大坡池</li>
                            </ul>
                        </aside>
                    </figure>
                    <figure>
                        <img src="img/location-banner-3.png">
                        <aside class="left">
                            <h4>台11线 – 台湾东海岸</h4>
                            <p>从长滨乡下行台11线至台东，沿线美丽湛蓝的双色海，在一年四季里呈现着各种不同风貌，每每都令人惊叹。丰富的海岸地形、独特的艺术人文、多元的水上活动，都吸引着旅人的到来。<br>从清晨的日出，到夜晚的月光海，东海岸用它温柔迷人的姿态，抚慰着来往旅人的心灵，无论是坐在海岸边慢饮一杯温热的咖啡，或是登上阿美族人的圣山都兰山远眺太平洋美景，都让人留恋；亦或溯溪、 冲浪、浮潜、野餐、观星、潮间带生态之旅，到访东海岸的沿途景点，绝对能满足旅客们的心中所想。</p>
                            <ul>
                                <li>・加路兰游嬉区</li>
                                <li>・富山复鱼区</li>
                                <li>・都兰村落</li>
                                <li>・三仙台景观区</li>
                                <li>・成功镇－成功鱼港</li>
                            </ul>
                        </aside>
                    </figure>
                    <figure>
                        <img src="img/location-banner-4.png">
                        <aside class="right">
                            <h4>台9线南回公路 – 山海线</h4>
                            <p>沿着台九线进入南回公路，顺延着太麻里乡、金峰乡、大武乡、达仁乡一路逐渐南行，​​阳光穿透云层，洒落在晴空万里的太平洋海面上，看着无际的大海与蓝天，心情特别舒畅。夏季的金针山、冬季的知本温泉、一早的清透山峦、傍晚时分的渐层晚霞、全台湾最美的多良车站、美丽的部落图腾文化、红色的洛神花、多彩的红藜谷物，属于大地的蓝、绿、黄、红，交叠出南回迷蒙优美的乡村景致，自然静好。</p>
                            <ul>
                                <li>・多良车站</li>
                                <li>・金仑温泉</li>
                                <li>・太麻里金针山</li>
                                <li>・知本森林游乐区</li>
                                <li>・知本温泉</li>
                            </ul>
                        </aside>
                    </figure>
                    <figure>
                        <img src="img/location-banner-5.png">
                        <aside class="right">
                            <h4>南横公路 – 台湾东海岸</h4>
                            <p>横跨中央山脉的南横公路拥有壮丽的峡谷景致，平日里除了居住山区的部落居民、农人外，几乎显少人烟出现，适合喜爱寻幽访胜的旅人，登山或是享受温泉都是不错的选择。从海端进入南横公路开始，沿途从低海拔的阔叶林相，到满佈二叶松、五叶松的高海拔针叶林相，景观变化差异大，更有丰富的生态动植物种，何不尝试东进东出，探访南横公路最美东段。</p>
                            <ul>
                                <li>・国立台湾史前文化博物馆</li>
                                <li>・台东森林公园</li>
                                <li>・台东市区人文风情</li>
                                <li>・铁花村音乐聚落</li>
                                <li>・台东旧铁道路廊</li>
                            </ul>
                        </aside>
                    </figure>
                </aside>
            </section>