[role=aboriginal]{
    background: #f3f2ed;
    margin-top: 0;
    padding: 1px 0;
    h3{
        margin-top: 2em;
    }
    .viewport{
        [class^=col]{
            img{
                max-width: 100%;
            }
            @media screen and (max-width: #{$screen-xs - 1}) {
                margin-top: 1em;
            }
        }
        .nav-tabs{
            text-align: center;
            border: 0;
            margin-bottom: 3em;
            .nav-item{
                display: inline-block;
                float: none;
                border: solid 1px #acacac;
                background-color: #cccccc;
                font-size: vwxs(16,1920);
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: em(48,16);
                letter-spacing: normal;
                text-align: center;
                color: #333333;
                a{
                    box-shadow: none;
                    border-radius: 0;
                    padding: em(12,16) em(46,16) em(10,16);
                    margin: 0;
                    @media screen and (max-width: #{$screen-xs - 1}) {
                        padding: em(12,16) 1em em(10,16);
                    }
                }
            }
        }
        .tab-content{
            font-size: vwxs(16,1920);
            h4{                
                font-size: vwxs(26,1920);
                font-weight: bold;
            }
            b{
                font-weight: bold;
            }
        }
        .link{
            background: #000;
            color: #fff;
            display: inline-block;
            padding: em(8,16) em(24,16);
            border-radius: em(10,16);
            margin-top: em(25,16);
            @media screen and (max-width: #{$screen-xs - 1}) {
                margin-top: 1em;
                font-size: vwxs(36, $screen-xs-num);
            }
            span{
                font-size: em(15,16);
                line-height: em(22,16);;
                text-align: left;
                margin-left: 1em;
            }
        }
        .f16{
            font-size: vwxs(16,1920);
        }
    }
}
